<div class="container-fluid">


  <div *ngIf="upcomingGames && upcomingGames.length > 0; then showUpcomingGames else promptNoGamesForSelectedSport">
  </div>

  <ng-template #showUpcomingGames>

    <div *ngFor="let league of upcomingGames">
      <h5 class="text-left">{{league.leagueName}}</h5>
      <table class="table table-striped" *ngFor="let game of league.games">
        <thead class="thead-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Home Team</th>
            <th scope="col">Away Team</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{game.gameDate}}</td>
            <td>{{game.homeTeam.name}}</td>
            <td>{{game.awayTeam.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #promptNoGamesForSelectedSport>
    <div *ngIf="!isLoading; else loadingScreen">
        <h3>No upcoming games at this sport yet...</h3>
    </div>
    <ng-template #loadingScreen>
        <app-progress></app-progress>
    </ng-template>
  </ng-template>
</div>