@media screen and (max-width: 600px) {
    #tabel{
        width: 100%;
        overflow: scroll;
    }
}

.image-container{
    background-image: 'src\assets\images\score.jpg';
    width:100%;
    height:100%;
}