@media screen and (max-width: 600px) {
    #tabel{
        width: 100%;
        overflow: scroll;
    }
}
.info-box {
    position: relative;
  }

  .info-box__content {
    position: relative;
  
    display: flex;
    top: 2pt;
    justify-content: center;
  }
  .info-box__content h1{
    color: rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: 30px;
  }