<div class="container">
  <h1 class="text-left">Add Goal</h1>
  <form [formGroup]="goalForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <label for="sport">Sport</label>
      <select #selectSport class="form-control" id="sport" formControlName="sport"
        (change)="sportChanged(selectSport.value)" required>
        <option *ngFor="let sport of sports" value={{sport.id}}>{{sport.name}}</option>
      </select>

      <label for="league">League</label>
      <select #selectLeague class="form-control" id="league" formControlName="league"
        (change)="leagueChanged(selectLeague.value)" required>
        <option *ngFor="let league of leagues" value={{league.id}}>{{league.name}}</option>
      </select>

      <label for="season">Season</label>
      <select #selectSeason class="form-control" id="season" formControlName="season"
        (change)="seasonChanged(selectSeason.value)" required>
        <option *ngFor="let season of seasons" value={{season.id}}>{{season.startDate}} - {{season.endDate}}
        </option>
      </select>

      <label for="game">Game</label>
      <select #selectGame class="form-control" id="game" formControlName="game" (change)="gameChanged(selectGame.value)"
        required>
        <option *ngFor="let game of games" value={{game.id}}>{{ game.gameInfo }}
        </option>
      </select>

      <label for="period">Period</label>
      <select #selectPeriod class="form-control" id="period" formControlName="period"
        required>
        <option *ngFor="let period of periods" value={{period.id}}>{{ period.id }}
        </option>
      </select>

      <label for="points">Points</label>
      <input type="number" formControlName="points" class="form-control" required>
      <div *ngIf="points().errors && points().touched">
        <div *ngIf="points().errors?.required && points()" class="alert alert-danger">
          Points are required.
        </div>
        <div *ngIf="points().errors?.min" class="alert alert-danger">
          Points must be greater than 0.
        </div>
      </div>

      <label for="time">Time</label>
      <input type="time" formControlName="time" class="form-control" required>
      <div *ngIf="time().errors && time().touched" class="alert alert-danger">
        Time is required.
      </div>

      <label for="penalty">Penalty?</label>
      <input type="checkbox" formControlName="penalty" class="form-control" required>

    </div>
    <button type="reset" class="btn btn-secondary btn-space-right">Reset</button>
    <button type="submit" [disabled]="goalForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>