.item-container{
    background-color: white;
    width: 80%;
    position: fixed;
    top: 80pt;
    left: 10%;
    padding-bottom: 10pt;
}
#dropdown{
    max-width: 300pt;
    color: rgb(0, 0, 0);
    font-size: 24pt;
}
li {
    list-style-type: none;
}
.backround-container{
    width: 100%;
    height: 90%;
    position: fixed;
    left: 0%;
    background-color: rgb(240, 240, 240);
}