<div class="container">
    <h1 class="text-left">Add Season</h1>
    <form [formGroup]="addSeasonForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="sport">Sport</label>
            <select #selectSport (change)="sportChanged(selectSport.value)" class="form-control" id="sport" >
                <option *ngFor="let sport of sports" value={{sport.id}}>{{sport.name}}</option>
            </select>

            <div *ngIf="leagues && leagues.length > 0; then showLeagueDropDown else promptNoLeaguesForSelectedSport">
            </div>

            <ng-template #showLeagueDropDown>
                <label for="league">League</label>
                <select #selectLeague class="form-control" id="league" formControlName="leagueId" >
                    <option *ngFor="let league of leagues" value={{league.id}}>{{league.name}}</option>
                </select>

                <label for="roundLimit">Number of rounds</label>
                <input type="number" formControlName="roundLimit" name="roundLimit" class="form-control" >
                <div *ngIf="control().roundLimit.hasError('min')" class="alert alert-danger">
                    Roundlimit must be between 1 and 50.
                </div>

                <label for="startDate">Start date</label>
                <input type="date" formControlName="startDate" name="startDate" class="form-control" >
                <div *ngIf="control().startDate.hasError('dateError')
                        && control().startDate.dirty
                        && control().endDate.dirty" class="alert alert-danger">
                    Start date must come before end date.
                </div>

                <label for="endDate">End date</label>
                <input type="date" formControlName="endDate" name="endDate" class="form-control" >

            </ng-template>

            <ng-template #promptNoLeaguesForSelectedSport>
                <p class="text-danger text-left">There are currently no leagues for the selected sport.</p>
            </ng-template>

        </div>

        <button type="reset" (click)="onReset()" class="btn btn-warning btn-block">Reset</button>
        <button [disabled]="addSeasonForm.invalid" type="submit" class="btn btn-success btn-block">Submit</button>
    </form>
</div>