/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@media screen and (max-width: 991px) {
  .btn {
    margin-top: 10px;
    display: block;
    width: 100%;
    margin-right: 0px;
  }
}

.btn-space-right {
  margin-right: 5px;
}
